html,
body {
  margin: 0;
  padding: 0;
}
.app {
  width: 1024px;
  height: 768px;
  background-color: black;
  position: relative;
}

.panels {
  height: calc(678px - 75px);
  width: 100%;
  display: flex;
}
