.product-list{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.cart-title{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.cart-products{
    margin-top: 10px;
    padding-right: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
}

.total-prices{
    display: flex;
    flex-flow: row;
    background-color: #ffd369;
    box-shadow: 0px 0px 2px 2.5px rgba(0.15, 0.15, 0.15, 0.15);
    justify-content: space-between;
    height: 200px;
}

.subtotal-block{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.cart-info{
    display: flex;
    flex-flow: column;
    border-right: solid 2px;
    border-color: gray;
    justify-content: flex-start;
    text-align: right;
}

.final-price{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin-right: 20px;
    text-align: right;
}

.subtotal{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
    font-family: priceFont;
}

.subtotal-import{
    margin-left: 10px;
    margin-top: 2px;
    color: #393e46;
}

.cart-articles{
    margin-top: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
}

.planned-articles{
    color: #393e46;
    margin-right: 10px;
}

.coupons{
    color: #393e46;
    margin-right: 10px;
}

.total{
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
    font-family: priceFont;
}

.price{
    font-size: 40px;
    color: black;
    font-family: priceFont;
}

.planned-price{
    margin-bottom: 10px;
    color: #393e46;;
    font-family: priceFont;
}