.catalog {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.product-details {
  width: 100%;
}

.products {
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.catalog-bottom {
  display: flex;
  position: sticky;
  top: 580px;
  z-index: 1;
  width: 840px;
  align-items: center;
}

.catalog-nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
  background-color: transparent;
}

.catalog-nav>img {
  height: 32px;
  width: 32px;
}