.cdd-panel {
    width: 100%;
    height: 30px;
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.cdd-dropdown {
    display: flex;
    flex-flow: column;
    position: absolute;
    left: 162px;
    bottom: 30px;
    width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 450px;
    box-shadow: 0px 0px 2px 2.5px rgba(0.15, 0.15, 0.15, 0.15);
    background-color: #222831;
}

.cdd-dropdown::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #eeeeee;
}

.cdd-dropdown::-webkit-scrollbar {
    width: 6px;
    background-color: #eeeeee;
}

.cdd-dropdown::-webkit-scrollbar-thumb {
    background-color: #222831;
}

.cdd-clear-button {
    width: 25px;
    height: 25px;
}

.cdd-text {
    width: 230px;
    font-weight: bold;
}

.cdd-button {
    width: 230px;
    margin-left: -80px;
    margin-right: 5px;
    font-weight: bold;
    background-color: #ffffff;
    ;
}