.languagesPanel {
    display: block;
    width: 215px;
    height: 250px;
    border-radius: 2.5px;
    border: solid 2px;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: column;
    position: absolute;
    right: 5px;
    top: 70px;
    background-color: #ffd369;
  }

  .languages{
    display: flex;  
    align-items: flex-start;
    flex-flow: column;
  }

  .flag-icon{
    width: 75px;
    height: auto;
    margin-right: 15px;
    margin-top: 5px;
    margin-left: 10px;
 }

 .language-name{
    font-size: 20px;
 }
  
 .languageButtonLine{
    display: flex;
    width: 100%;
    height: 300%;
    align-items: center;
 }

  .changeLanguageButton{
    width: 60%;
    height: 70%;
    background-color: rgb(221, 173, 13);
    color: white;
    font-size: 17px;
    align-items: center;
    margin-left: 22%;
  }

.spanish{
    display: flex;
    align-items: flex-start;
    flex-flow: row;
    align-items: center;
    width: 100%;
    height: auto;
    border: transparent;
    border-bottom: 2px solid;
    background-color: #ffd369;
}
.english{
    display: flex;
    align-items: flex-start;
    flex-flow: row;
    align-items: center;
    width: 100%;
    height: auto;
    border: transparent;
    border-bottom: 2px solid;
    background-color: #ffd369;
}
.valencian{
    display: flex;
    align-items: flex-start;
    flex-flow: row;
    align-items: center;
    width: 100%;
    height: auto;
    border: transparent;
    background-color: #ffd369;
}
