.left-panel {
    height: 100%;
    background-color: rgb(227, 227, 227);
    display: flex;
    flex-flow: column;
    border-right: black 2px solid;
}

.left-panel-title {
    margin-top: 10px;
    align-self: center;
    font-size: 18px;
    font-weight: bold;
}

.current-panel{
    flex-grow: 1;
    overflow-y: scroll;
}

.bottom-buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 35px;
}

.lf-list-button{
    background-color: rgb(65, 64, 64);
    color: white;
    opacity: 0.4;
    height: 40px;
    width: 130px;
    border: 0px;
    flex-flow: row;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.lf-tag-button{
    background-color: rgb(65, 64, 64);
    color: white;
    height: 40px;
    width: 130px;
    border: 0px;
    flex-flow: row;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.tag-button-image {
    width: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.tag-button-text {
    
}

.list-button-image {
    width: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.list-button-text {
    
}

.lf-lists {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
