.nav {
    width: 520px;
    height: 50px;
    position: relative;
    left: calc(50% - 260px);
    top: 65px;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    border: 2px rgb(90, 88, 88) solid;
    border-radius: 40px;
}

.nav-button {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    padding: 0;
    border: 0;
    border-right: solid 1px;
    border-color: rgb(162, 162, 162);
    width: 100%;
    height: 100%;
    justify-content: center;
    position: relative;
    z-index: 5;
}

.nav-button:last-child {
    border-right: solid 0;
}

.nav-button-name {
    font-size: 16px;
    margin-left: 8px;
}

.nav-button-icon {
    height: 30px;
}