.not-logged-user-block{
    display: flex;
    flex-flow: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.left-panel-login-button {
    background-color: #ffd369;
    color: black;
    font-weight: bold;
    height: 30px;
    width: 130px;
    border: 0px;
    margin-top: 15px;
    align-self: center;  
}
.account-image{
    display: flex;
    height: 80px;
    width: 80px;
}

.question{
    color: #ffffff;
    margin-top: 5px;
    font-weight: bold;
    text-align: center;
}

.login-text{
    word-break: keep-all;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 250px;
    color: rgba(255, 255, 255, 0.7);
}
