.details {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.details-image {
  align-self: center;
  justify-self: end;
  width: 150px;
  height: 150px;
  max-height: 180px;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.25);
  margin-top: -20x;
  margin-left: 5%;
  background-color: white;
  padding-top: 5px;
  margin-top: -5px
}

.pd-image-nav-bar{
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.pd-image-number{
  font-weight: bold;
}

.details-image {
  width: auto;
  max-width: 180px;
  align-self: center;
  height: 100%;
  overflow: hidden;
}

.details-text-line {
  width: 100%;
}

.details-text-header {
  font-weight: bold;
  font-size: 18px;
}

.details-text {
  font-size: 18px;
  color: black;
}

.details-close-button {
  justify-self: flex-end;
  margin-right: 3px;
  margin-top: 3px;
}

.details-close-button-image {
  margin-top: 20px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.details-map-button-image {
  margin-bottom: 20px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.details-info {
  width: 100%;
  height: 100%;
  font-size: 20px;
  margin-left: 15%;
  margin-bottom: 10px;
  display: flex;
  flex-flow: column;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  border-left: 1px black;
}
.details-title {
  align-self: center;
  margin-bottom: 10px;
  max-width: 250px;
  color: white;
  margin-left: 15px;
}

.details-name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.details-brand {
  font-size: 20px;
  text-align: center;
  color: grey;
}

.details-price {
  font-size: 20px;
  font-weight: normal;
  margin-top: 5%;
  color: black;
  text-align: center;
}

.details-line {
  height: 70%;
  width: 2px;
  background-color: black;
}
.details-buttons {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.details-box {
  width: 40%;
  display: flex;
  justify-content: space-around;
  height: auto;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  color: black;
}
