.top-bar {
    width: 100%;
    height: 90px;
    background-color: #222831;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 10;
}

.left-side {
    display: flex;
    justify-content: start;
    align-items: center;
}
.logo-name {
    color: #FDA332;
    position: relative;
    font-size: 35px;
    font-family: titleFont;
    margin-left: 82px;
    margin-right: 63px;
}

.user-field {
    display: flex;
    align-items: center;
    height: 42%;
    width: 100px;
    background-color:#ffd369;
    border-radius: 40px;
    margin-right: 10px;
    color: white;
    font-size: 14px;
}

.user-button-name {
    display: flex;
    align-items: center;
    font-size: 14px;
    flex-grow: 1;
    margin-left: 3px;
}

.user-first-letter {
    display: flex;
    height: 30px;
    width: 30px;
    background-color: orange;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

.user-button {
    display: flex;
    align-items: center;
    width: auto;
    height: 35px;
    background-color: #eeeeee;
    border-radius: 2.5px;
    margin-right: 10px;
    border-color: transparent;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-left: 15px;
    height: 100%;
    margin-right: 10px;
}

.user-login-button {
    text-align: center;
    height: 35px;
    width: 100px;
    border-radius: 2.5px;
    background-color:#ffd369;
    margin-right: 10px;
    color: black;
    font-size: 14px;
    width: 115px;
    border-color: transparent;
    font-weight: bold;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
}

.top-button {
    height: 42%;
    width: 22%;
    padding: 5px;
}

.top-button > img {
    width: 100%;
    height: 100%;
}

.translate-button {
    background-color: #ffd369;
    width: 35px;
    height: 35px;
    border-color: transparent;
    border: 0px;
}
.exit-button {
    background-color: red;
    margin-left: 5px;
    height: 35px;
    width: 35px;
    border: 0px;
}